APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/GP-Factura.Pro

DB_HOST=127.0.0.1
DB_DATABASE=facturacion_electronica
DB_USERNAME=root
DB_PASSWORD=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=gpfacturapro@gmail.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=gpfacturapro@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

WOMPI_PUBLIC_KEY=
WOMPI_INTEGRITY_SECRET=
WOMPI_ENV=sandbox
